<h2>Sign up</h2>

<form method="POST" action="/auth/signup">
  <label>Choose a username:</label>
  <input type="text" name="username" placeholder="Maggie Wilson" required="true" />
  <label>Write first Name:</label>
  <input type="text" name="firstName" placeholder="Maggie" required="true" />
  <label>Write last Name:</label>
  <input type="text" name="lastName" placeholder="Wilson" required="true" />
  <label>Phone</label>
  <input type="number" name="phone" placeholder="614573952"/>
  <label>City</label>
  <input type="text" name="city" placeholder="BCN"/>
  <label>Age</label>
  <input type="number" name="age" placeholder="27" />
  <label>Username</label>
  <input type="text" name="username" placeholder="Maggie100" required="true" />
  <label>E-mail</label>
  <input type="email" name="email" placeholder="maggie@hotmail.com" required="true"/>
  <label>Password</label>
  <input type="password" name="password" placeholder="*********" required="true"/>
  <button type="submit">Register</button>
  <a href="/auth/login">Already have an account? Log in!</a>
  {{#if error}}
    <p style="color: red">{{error}}</p>
  {{/if}}
</form>