<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Nakuru</title>
</head>
<body>
  <nav>
    <div class="nav-icon"><a href="/"><img src="images/dice-icon.webp" class="nav-img" alt="List of boardgames"></a></div>
    <div class="nav-icon"><a href="/"></a><img src="images/add-icon.png" class="nav-img" alt="Add boardgame"></a></div>
    <div class="nav-icon"><a href="/profile"></a><img src="images/user-icon.png" class="nav-img" alt="Profile"></a></div>
    {{!-- <ul>
      {{!-- {{#if user}}
      <li><a href="/">Home</a></li>
      <li><a href="/auth/logout">Log out</a></li>
      <li><a href="/profile">Profile</a></li>
      {{else}}
      <li><a href="/">Home</a></li>
      <li><a href="/auth/signup">Sign up</a></li>
      <li><a href="/auth/login">Log in</a></li>
      {{/if}} --}}
    {{!-- </ul> --}}
  </nav>
  {{{body}}}
</body>
</html>
